$white: #fff;
$border: #DFDFDF;
$black: #000;
$yellow: #FCD900;
$sub-title: #B3B3B3;
$text: #4D4D4D;
$background: #FDFDFD;
$description: #4C4C4C;
$watch: #818181;
$blue: #035397;
$grey: #FAFAFA;
$avaliable: #646464;
$point-avaliable: #28CBA4;
$background-affter: #F1F1F1;