@import url(reset.css);

body {
  font-family: "lato",sans-serif;
}

.main-block {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.content {
  margin-left: -68px;
  margin-right: -68px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: 72px;
}

.block-item {
  display: inline-block;
  width: 33%; 
  margin-bottom: 68px;
  vertical-align: top;
  padding-right: 34px;
  padding-left: 34px;
}


svg {
  padding-top: 20px;
  margin-inline: auto;
  display: block;
  margin-bottom: 24px;

}

.block-item h3 {
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.block-item p {
  text-align: center;
  color: #7e7f7c;
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  width: 348px;
  margin: 0 auto;
}