@import url('./reset.css');

body {
  font-family: 'Montserrat',sans-serif; 
}


[class*="__container"] {
  max-width: 1230px;
  width: 100%;
  padding-inline: 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.header__wrapper {
  display: grid;
  grid-column: max-content;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 60px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  flex-wrap: wrap;
  row-gap: 20px;
}

.header__link {
  transition: color 0.3s;
}

.header__link:hover {
  color: #ba936f;
}

.header__registration {
  padding-block: 10px;
  padding-inline: 42px;
  background-color: #BA936F;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  border: 1px solid transparent;
}

.header__registration:hover, .practice__link:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.header__burger {
  width: 36px;
  height: 31px;
  background-color: transparent;
  justify-self: center;
  display: flex;
  align-items: center;
  position: relative;
  display: none;
}

.header__burger span{
  width: 100%;
  display: block;
  height: 4px;
  background-color: #ba936f;
  transition: width 0.3s;
}

.header__burger span::before {
  top: 0;
  left: 0;
}

.header__burger span::after, .header__burger span::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #ba936f;
  position: absolute;
  transition: transform 0.3s;
}

.header__burger span::after {
  bottom: 0;
  left: 0;
}

.header__burger:active {
  background-color:#b9aca1;
}

@media (width <= 992px ) {
  .header__menu {
    gap: 30px;
  }
}

@media ( width <= 872px) {
  .header__logo {
    width: 70px;
    display: flex;
    flex-shrink: 0;
  }

  .header__logo, .header__registration, .header__burger {
    z-index: 4; 
  }
    .header__logo {
    order: 1;
  }
  .header__wrapper {
    order: 2;
  }
  .header__registration {
    order: 1;
    padding-inline: 20px;
    padding-inline: 60px;
  }
  .header__menu {
    align-items: end;
    font-size: 27px;
  }

  .header__container {
    padding-top: 20px;
  }

  .header__burger {
    display: block;
  }

  .header__link {
    padding: 20px;
  }

  .header__link:active{
    color: #BA936F;
  }

  .header__menu {
    flex-direction: column;
    color: white;
    font-weight: 500;
  }

  .header__nav {
    position: fixed;
    height: 100%;
    padding-top: 120px;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    top: -100vh;
    gap: 20px;
    background-color: gray;
    z-index: 2;
    transition: top 0.3s;
  }
  .header__nav::after {
    content: '';
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    overflow: hidden;
    z-index: 3;
  }
  [data-menu-open] .header__nav{
    top: 0;
  }

  [data-menu-open] .header__burger span::after {
    transform: rotateZ(-45deg) translateY(50%);
    transform-origin: center;
    bottom: 50%;
  }
  [data-menu-open] .header__burger span::before {
    transform: rotateZ(45deg) translateY(-50%);
    top: 50%;
    transform-origin: 53%;
  }
  [data-menu-open] .header__burger span {
    width: 0;
  }
  [data-menu-open] body {
    overflow: hidden;
  }
  [data-menu-open] .header__nav::after {
    display: block;
  }
}


@media (width <= 357px) {
  .header__registration {
    padding-inline: 54px;
  }
}

.hero {
  position: relative;
  padding-top: 100px;
}

.flowers__first-flower {
  position: absolute;
  right: 0;
  z-index: -10;
  top: 90px;
}

.flowers__second-right-flower {
  position: absolute;
  right: 0;
  z-index: -5;
  top: 1209px;
}

.hero__main {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Lora',sans-serif;
  font-weight: 400;
  color: #ba936f;
  text-transform: uppercase;
}

.hero__title {
  padding-top: 71px;
  font-size: 50px;
  max-width: 687px;
  width: 100%;
  line-height: 1.25;
  margin-bottom: 61px;
}

.flowers__left-flower {
  position: absolute;
  left: 0;
  z-index: -10;
  top: 480px;
}

.hero__elips {
  background: url('../img/icons/elipse.png') no-repeat;
  width: 100px;
  aspect-ratio: 1;
  position: relative;
}

.hero__link {
  text-transform: capitalize;
  padding-left: 52px;
  top: 43%;
  left: -76%;
  transform: translateX(50%);
  position:absolute;
  white-space: nowrap;
  font-size: 17px;
  display: flex;
  align-items: center;
  transition: 0.3s color;
}

.hero__arrow {
  position: relative;
}

.hero__arrow::after {
  content: '';
  width: 27px;
  aspect-ratio: 1;
  right: -29px;
  background: url('../img/icons/arrowright.svg') no-repeat;
  position: absolute;
}

.hero__elips:hover .hero__link {
  color: #BA936F;
}

.hero__text {
  max-width: 638px;
  width: 100%;
  margin-bottom: 98px;
}

.text {
  line-height: 1.42;
  font-size: 19px;
  font-weight: 400;
  color: #343434;
}


.hero__card {
  position: relative;
}

.hero__photo, .lesson__photo {
  z-index: 1;
  border-radius: 25px;
}

.hero__second-card {
  border-radius: 25px;
  overflow: hidden;
}

.hero__second-title {
  position: absolute;
  max-width: 687px;
  width: 100%;
  line-height: 1.25;
  z-index: 1;
  top: -10%;
  display: none;
  font-size: 35px;
}

@media (width <= 1161px) {
  .hero {
    padding-top: 30px;
  }

  .hero__title {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  
  .hero__text {
    padding-top: 30px;
    margin-bottom: 30px;
  }
}

@media (width <= 1064px ) {

  .hero__title {
    padding-top: 0;
  }

  .hero__elips {
    max-width: 80px;
    aspect-ratio: 1;
    background-size: contain;
  }
}

@media ( width <= 992px) {
  .hero__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__block {
    text-align: center;
  }

    .hero__elips {
    display: block;
    max-width: 100px;
    aspect-ratio: 1;
    margin-left: 30%;
  }

  .hero {
    padding-top: 120px;
  }

  .hero__title {
    display: none;
  }

  .hero__card {
    order: -1;
  }
  .hero__second-title {
    display: block;
  }
}

@media (width <= 452px) {
  .hero__text {
    display: none;
  }

  .hero__elips {
    display: block;
    margin-left: -50%;
  }

  .hero__card {
    margin-bottom: 21px;
  }
}

@media (width <= 366px) {
  .hero__second-title {
    font-size: 30px;
  }
}

.hero__practice {
  padding-top: 135px;
  column-gap: 39px;
  display: flex;
  justify-content: space-between;
}

.hero__block {
  padding-top: 61px;
}

.practice__title {
  font-size: 35px;
  max-width: 558px;
  margin-bottom: 61px;
}

.practice__text {
  max-width: 556px;
  width: 100%;
  margin-bottom: 50px;
}

.text p:not(:last-child) {
  margin-bottom: 10px;
}

.practice__exrta {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 57px;
}

.practice__ask {
  font-size: 17px;
}

.practice__answer {
  color: #BA936F;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  transition: color 0.3s;
}

.practice__answer:hover {
  color: #d8c2ad;
}

.practice__link {
  background-color: #BA936F;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 15px;
  padding-block: 12px;
  padding-inline: 48px;
  text-transform: capitalize;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  box-sizing: border-box;
  border: 1px solid transparent;
}

@media (width <= 1200px ) {
  .hero__practice {
    padding-top: 20px;
  }
  .practice__exrta {
    margin-bottom: 20px;
  }
}

@media ( width <= 1154px) {

  .practice__exrta {
    margin-bottom: 5px;
  }

  .hero__block {
    padding-top: 20px;
  }

  .practice__title {
    margin-bottom: 20px;
  }

  .practice__text {
    margin-bottom: 20px;
  }
}

@media (width <= 992px) {

  .hero__practice {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .practice__text {
    margin: 0 auto;
  }

  .practice__title {
    margin-bottom: 51px;
    max-width: 100%;
  }

  .practice__text {
    margin-bottom: 37px;
  }

  .practice__exrta {
    margin-bottom: 25px;
  }

  .practice__link {
    margin-bottom: 24px;
  }
}

@media (width <= 590px) {
  .practice__text {
    margin: 0 0 37px 0;
  }

  .hero__block {
    text-align: left;
  }
}

.lesson {
  padding-block: 134px;
}

.lesson__title {
  font-size: 35px;
  margin-bottom: 30px; 
}

.lesson__text {
  max-width: 839px;
  width: 100%;
  line-height: 1.6;
  font-size: 17px;
  margin-bottom: 67px;
}

.lesson__cards {
  display: flex;
  justify-content: space-between;
}

.lesson__description {
  padding-top: 14px;
  color: #ba936f;
  font-size: 22px;
  font-weight: 400;
}

@media(width <= 1152px) {
  .lesson__cards {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .flowers__first-flower {
    display: none;
  }

  .flowers__left-flower {
    top: 200px;
  }

  .lesson__photo {
    aspect-ratio: 1;
    object-position: bottom;
    object-fit: cover;
  }
}

@media(width <= 992px) {
  
  .lesson__text {
    margin-bottom: 20px;
  }

  .lesson {
  padding-block: 93px;
}

  .flowers {
    display: none;
  }

  .schedule__decoration {
    display: none;
  }
}

@media(width <= 534px) {
  .lesson {
    padding-block: 50px;
  }
}

.schedule {
  position: relative;
}

.schedule__title {
  font-size: 35px;
  margin-bottom: 22px;
}

.schedule__decoration {
  position: absolute;
  z-index: -10;
  width: 181px;
  top: 15px;
}

.schedule__subtitle {
  max-width: 839px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 41px;
}

.schedule__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 39px;
}

.schedule__wrapper {
  width: 60%;
  overflow-x: auto;
}

.schedule__link--border {
  border-top: 1px solid #BA936F;
}

.schedule__link {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  white-space: nowrap;
  padding-block: 22px;
  border-bottom: 1px solid #BA936F; 
  text-transform: uppercase;
}


.schedule__link  a, p{
  display: inline-block;
}

.schedule__events {
  width: 100%;
  width: 100%;
  min-width: 550px;
}

.schedule__link p {
  justify-self: end;
}

.program__title {
  transition: color 0.3s;
}

.program__title {
  position: relative;
}

.program__title::after {
  content: '';
  background: url('../img/icons/table-arrow.svg') left no-repeat;
  background-size: contain;
  transform: rotate(40deg);
  right:-14px;
  top: -8px;
  width: 22px;
  aspect-ratio: 1;
  position: absolute;
}

.schedule__program:hover .program__title {
  color: #BA936F;
}

@media (width <= 836px) {
  .schedule__body {
    flex-direction: column-reverse;
  }

  .schedule__link {
    justify-content: space-evenly;
  }

  .schedule__wrapper {
    width: 80%;
  }
}
