@import url(reset.css);

body {
  font-family: 'lato',sans-serif;
}

a {
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;;
}

[class*="__container"] {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header--padding {
  padding-block: 61px;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr max-content 1fr;
  column-gap: 80px;
}


.header__nav, .header__extra, .header__search{
  display: inline-block;
}

.nav-block__item {
  margin-right: 44px;
}

.arrow {
  transition: transform 0.4s ease;
}

.arrow-block:hover .arrow {
  transform: rotateX(-180deg);
}

.header__item-extra--cart{
  padding-left: 20px;
  background: url('/img/icons/cart-icon.svg') no-repeat;
  margin-left: 30px;
}

.header__item-extra--love {
  background: url('/img/icons/love-icon.svg') no-repeat;
  padding-left: 20px;
}

.header__extra, .header__nav {
  display: flex;
  align-items: center;
}

.header__extra {
  display: flex;
  justify-content: end;
}

.header__input {
  padding: 10px 27px 10px;
  background: url('/img/icons/search.svg') 3px 10px no-repeat;
  border-bottom: 1px #D4D4D4 solid;
}

.header__input:focus{
  outline: none;
}

.trusted__icon-block {
  display: flex;
  flex-wrap: wrap;
}

.trusted__icon {
  margin-left: 50px;
}

.trusted__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px; 
  text-transform: uppercase;
}

.trusted__title--margin {
  margin-bottom: 72px;
}

.nav-block__item {
  display: inline-block;
}

.space-bottom {
  margin-bottom: 170px;
}

.face-block {
  padding-block: 110px;
  background: url('/img/face-bc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.face-block__text-block {
  max-width: 520px;
  width: 100%;
  margin-left: 60%;
}

.face-block__sub-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.face-block__title {
  font-size: 96px;
  line-height: 1.1;
  font-weight: 700;
  position: relative;
  margin-bottom: 36px;
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif;
  color: #2F302C;
}

.face-block__title::after {
  content:'';
  max-width: 275px;
  width: 100%;
  height: 1px;
  background-color: #000;
  display:inline-block;
  position: absolute;
  left: 7px;
  bottom: 0;
}

.face-block__text {
  color: #7E7F7C;
}

.benefits__container {
  display: flex;
}

.benefits__item--bc-gray {
  background-color: #f7f7f7;;
}

.benefits__title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 24px;
}

.benefits__sub-title {
  color: #7e7f7c;
  line-height: 1.2;
  margin-bottom: 38px;
}

.benefits__sub-title--side {
  max-width: 400px;
  width: 100%;
}

.benefits__item--padding {
  padding: 0 60px 64px 32px;
}

.benefits__img--top {
  margin-left: 40px;
  margin-bottom: 137px;
}

.benefits__link {
  color: #7e7f7c;
}

.benefits__item--wide {
  text-align: center;
  padding: 48px 90px 51px 75px;
  background-color: #E5EFEA;
  margin-inline: 36px;
}

.benefits__link--margin {
  margin-bottom: 97px;
}

.benefits__sub-title--center {
  max-width: 310px;
  width: 100%;
  line-height: 1.2;
  margin: 0 auto;
  margin-bottom: 18px;
}

.benefits__item--paddin-extra {
  padding-top: 48px; 
  padding-bottom: 0;
}

.benefits__item--position {
  position: relative;
}

.benefits__img--bottom {
  position: absolute;
  bottom:0;
  right: 0;
}



