@import url('./reset.css');

body {
  font-family: 'lato',sans-serif;
}

[class*="__container"] {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.wrpapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  position:relative;
}

.wrapper>main {
  flex-grow: 1;
}

.products__header {
  padding-block: 75px;
  text-align: center;
}

.products__body {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 80px;
}

.products__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 40px;
}

.products__list {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.list-products__text, .list-products__text-current {
  position:relative;
  font-weight: 700;
  text-transform: uppercase;
}

.list-products__text::after {
  content: '';
  position:absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left:0;
  background-color: rgb(189, 90, 189);
  transition: all 0.4s ease;
}

.list-products__text:hover.list-products__text::after {
  width: 100%;
}

.list-products__text-current::after {
  content: '';
  position:absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left:0;
  background-color: black;
  transition: all 0.4s ease
}

.item-products {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-products__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 32px;
}

.item-products__star:not(:first-of-type) {
  margin-left: 5px;
}

.item-products__subtitle {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.item-products__price {
  text-transform: uppercase;
  font-weight: 800;
}

.advantage__body {
  padding-block: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 70px;
  row-gap: 70px;
}

.advantage__title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 349px;
  width:100%;
  row-gap: 25px;
}

.advantage__subtitle {
  font-size: 16px;
  font-weight: 700;
  color: #2f302c;
}

.advantage__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color:  #7e7f7c;
}