html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  margin-inline: auto ;
}

h1 {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.marked {
  color: green;
  font-weight: 700;
}

.contacts {
  text-decoration: none;
  color: olivedrab;
  transition: all ease 0.4s;
}

.contacts:hover{
  font-size: 23px;
  color: #000
}

#contacts{
  transition: all 0.4s ease;
}