@import url('./reset.css');


[class*="__container"] {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 20px;
}

.wrpapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  position:relative;
}

.wrapper>main {
  flex-grow: 1;
}

.first-block {
  padding-block: 30px;
}

.first-block__first-form {
  display: flex; 
  flex-direction: column;
  row-gap: 10px;
  max-width: 300px;
  width: 100%;
}

.block-first__title {
  font-size: 21px;
  color: grey;
}

.block-first__input {
  outline: 1px black solid;
}

.block-first__input:focus {
  outline: yellow 1px solid;
}

.block-first__button {
  border: none;
  background-color: gray;
  color: white;
  padding: 10px;
}

.block-first__button:hover {
  cursor: pointer;
  background-color: black;
}

.block-first__button:active {
  background-color: rgb(40, 40, 40);
}

.block-second__label {
  padding-top: 20px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  width: max-content;
}

.block-second__box {
  display: flex;
  appearance: none;
}

.block-second__box:checked::before {
  background: url('../img/icons/confirm_checked_icon_238257.png')center / 100%  no-repeat;
}

.block-second__box::before {
  content:'';
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  outline: 1px solid black;
  border-radius: 50%;
  top:0;
}

.block-second__text {
  font-size: 20px;
}

.third-block__title {
  font-size: 23px;
}

.third-block__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.third-block__label {
  display: flex;
  column-gap: 5px;
}

.third-block__label:hover {
  cursor: pointer;
}

.third-block__input-ukraine, .third-block__input-usa, .third-block__input-germany {
  appearance: none;
  display: flex;
}

.third-block__input-ukraine::before, .third-block__input-usa::before, .third-block__input-germany::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 1px black solid;
}

.third-block__input-ukraine:hover::before, .third-block__input-usa:hover::before, .third-block__input-germany:hover::before {
  cursor: pointer;
}

.third-block__input-ukraine:checked::before, .third-block__input-usa:checked:before, .third-block__input-germany:checked::before  {
  background-color: blue;
  cursor: pointer;
}

.third-block__text, .four__title {
  font-size: 23px;
}

.four__form {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.four__input {
  appearance: none;
}

.four__input::before {
  content: '';
  height: 25px;
  aspect-ratio: 1;
  border: 1px solid red;
  background-color: transparent;
  transition: background-color 0.4s;
  display: inline-block;
}

.four__input:checked::before {
  background-color: blue;
}

.four__span {
  font-size: 25px;
}

.five__select {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.six__label {
  height: 20px;
  width: 60px;
  border-radius: 10px;
  background-color: green;
  position: relative;
  cursor: pointer;
}

.six__input {
  opacity: 0;
  height: 0;
  width: 0;
}

.six__label::before {
  content: '';
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left:0;
  top:0;
  transition:left 0.3s, transform 0.3s;
}

.six__label:has(.six__input:checked)::before {
  left: 100%;
  transform: translateX(-100%);
}

.registration {
  font-family: 'Lato', sans-serif;
  padding-block: 50px;
}

.registration__header {
  text-align: center;
  text-transform: uppercase;
}

.registration__title, .block-registration__title {
  font-size: 32px;
  color: #2f302c;
  font-weight: 800;
  margin-bottom: 36px;
}

.registration__subtitle {
  color: #7e7f7c;
  font-weight: 700;
  margin-bottom: 150px;
}

.registration__body {
  display: flex;
  justify-content: space-between;
}

.block-registration__subtitle {
  font-weight: 500;
  color:#7e7f7c;
  margin-bottom: 83px;
}

.block-registration__option {
  display: inline-block;
  color: black;
  font-weight: 700;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 1px solid black;
}

.block-registration__option:hover {
  cursor: pointer;
  color: rgb(104, 104, 104);
  border-bottom: 1px solid rgb(104, 104, 104);
}


.block-registration__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 716px;
  row-gap: 39px;
  width: 100%;
}

.block-registration__input-short:focus, .block-registration__input-long:focus {
  outline: none;
}

.block-registration__visuall-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.block-registration__input-short {
  width: 46%;
  padding-block: 10px;
  border-bottom: 1px solid #D4D4D4;
  line-height: 1.25;
}

.block-registration__input-long {
  width: 100%;
  padding-block: 10px;
  border-bottom: 1px solid #D4D4D4;
  line-height: 1.25;
}

.block-registration__button {
  color: #fff;
  padding: 10px 110px;
  background-color: #2F302C;
  transition: background-color 0.3s ;
  margin-top: 60px;
}

.block-registration__button:hover{
  cursor: pointer;
  background-color: #606060;
}

.registration__discount {
  position: relative;
  height: 492px;
  width: 600px;
  background-color: #F6F6F6;
}

.discount__text-block {
  position: absolute;
  left: 80px;
  bottom: 60px;
  user-select: none;
}

.discount__mark {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 25px;
  background-color: #d4d4d4;
}

.discount__title {
  max-width: 166px;
  width: 100%;
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
}

.discount__image {
  position: absolute;
  top: 0;
  right: 50px;
}