@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family:'Praysire';
  src:url('../fonts/PraysireDemo.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

p {
  font-family: "roboto",sans-serif;
}

:root {
  --header-height: 40px;
  --block-width: 200px;
}

nav {
  display: flex;
  align-items: center;
}

a{
  transition: all 0.4s ease;
  padding-block: 20px;
  font-style: italic;
  font-family: "Alegreya",sans-serif;
}

.sidebar {
  text-align: center;
  background-color: grey;
  position: fixed;
  width: var(--block-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar h3{
  margin-bottom: 30px;
}

.sidebar a:hover{
  color: blue;
}

.page {
  padding-top: var(--header-height);
  padding-left: var(--block-width);
}

.page h1 {
  font-family:'Praysire',serif;
  padding-top:30px;
  text-align: center;
  font-size: 32px;
  color:darkred;
  text-decoration: overline;
  text-transform: capitalize;
}

.page p {
  padding: 20px 0 0 10px;
  /* text-transform: uppercase; */
  width: 50vw;
}

.text-transform {
  text-transform: uppercase;
}

.text-decotration {
  text-decoration: line-through;

}

.skip {
  text-decoration: underline;
  all:revert;
  text-transform: lowercase;
  word-spacing: initial;
  letter-spacing: normal;
  font-weight: 900;
}

.white-space {
  word-spacing: 20px;
}

.text-shadow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-shadow h2 {
  margin-top: 40px;
  text-align: center;
  text-shadow: 10px 10px 5px black;
  font-size: 70px;
}

.text-shadow p{
  display: block;
  width: 120px;
}

.another {
  margin-top: 50px;
}

.another h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.another-item__one {
  font-style: italic;
  text-decoration: underline;
}

.another-item__two {
  line-height: 3;
}

.another-item__three {
  letter-spacing: 9px;
}