@import url('./reset.css');

.vehicle {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 70px;
}

.vehicle__body {
  position: relative;
  border-radius: 24% 76% 70% 30% / 25% 99% 1% 75% ;
  background-color: blue;
  height: 200px;
  aspect-ratio: 1;
  left:300px;
  transform: rotateZ(25deg) translateY(450px); 
  animation-name: heilicopter-action;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heilicopter-action{
  0% {
    transform: translateX(-700px) translateY(20px);
  }

  30% {
    transform: translateX(500px) translateY(70px);
  }
  40% {
    transform: translateY(400px) translateY(0);
  }

  50% {
    transform: translateY(150px) translateY(0);
  }

  60% {
    transform: translateX(700px) translateY(150px);
  }

  80% {
    transform: translateX(700px) translateY(150px);
  }


  100% {
    transform: translateX(1700px);
  }
}

.helicopter__window {
  position: absolute;
  border-radius:29% 71% 100% 0% / 0% 100% 0% 100%;
  background-color: cyan; 
  height: 100px;
  aspect-ratio: 1;
  opacity: 0.7;
  z-index: 2;
  top: 20%;
  left: 47%;
}

.helicopter__tail {
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: blue;
  left:-90%;
  top: 50%;  
  z-index: -2;
  border-radius: 7px;
}

.helicopter__tool {
  position: absolute;
  height: 20px;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  left:-91%;
  top: 50%;;
  animation-name: move-tool;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-tool {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.vehicle__body:hover .helicopter__tool{
  transform: rotateZ(-360deg);
}

.helicopter__blade-one, .helicopter__blade-two, .helicopter__blade-three {
  position: absolute;
  height: 70px;
  width: 10px;
  background-color: red;
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0% ;
}

.helicopter__blade-one {
  top: 10px;
}

.helicopter__blade-two {
  transform: rotateZ(-110deg);
  transform-origin: top;
  top: 12px;
}

.helicopter__blade-three {
  transform: rotateZ(110deg);
  transform-origin: top;
  top: 7px;
  left: 4px;
}

.helicopter__foot-left {
  height: 70px;
  width: 10px;
  position: absolute;
  background-color: black;
  top: 90%;
  left: 30%;
  transform: rotateZ(20deg);
  z-index: -3;
}

.helicopter__foot-right {
  height: 70px;
  width: 10px;
  position: absolute;
  background-color: black;
  top: 90%;
  left: 90%;
  transform: rotateZ(-20deg);
  z-index: -3;
}

.helicopter__main-foot {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: black;
  top: 120%;
  left:20%;
}

.helicopter__main-foot::before {
  content: '';
  background-color: black;
  height: 10px;
  width: 15px;
  transform: rotateZ(20deg);
  position: absolute;
  left: -13px;
  top: -2px;
}

.helicopter__main-foot::after {
  content: '';
  background-color: black;
  height: 10px;
  width: 15px;
  transform: rotateZ(-20deg);
  position: absolute;
  right: -12px;
  top: -2px;
}

.helicopter__roof-detail {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  z-index: 2;
  top: -15px;
  left: 20%;
}

.helicopter__roof-circle {
  position: absolute;
  border-radius: 50%;
  height: 15px;
  width: 20px;
  background-color: yellow;
  top: -36px;
  left: 19%;
}

.helicopter__wrapper {
  perspective:300px;
  transform-style: preserve-3d;
}

.helicopter__main-blade {
  position: absolute;
  width: 200%; 
  height: 10px;
  background-color: red;
  left: -65%;
  top: -25px;
  transition: 1s ease-in-out all;
  animation-name: move-main-blade;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes move-main-blade {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.vehicle__body:hover .helicopter__main-blade {
  transform: rotateY(360deg);
}

.denger__first-rocket {
  transform: translateX(2000px);
  animation-name: action-rocket;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay:2s;
}

@keyframes action-rocket {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(-700px);
  }
}


.denger__second-rocket {
  transform: translateX(2000px) translateY(0);
  animation-name: second-action-rocket;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

@keyframes second-action-rocket {
  0% {
    transform: translateX(2000px) translateY(200px);
  }

  100% {
    transform: translateX(-700px) translateY(200px);
  }
}


@keyframes building {
  0% {
    transform: translateX(1400px) translateY(200px);
  }
  10% {
    transform: translateX(1200px) translateY(200px);
  }

  100% {
    transform: translateX(1000px) translateY(200px); 
  }
}

.vehicle__goal {
  transform: translateX(2000px) translateY(200px);
  animation-name: building;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 4s;
  position: relative;
  animation-fill-mode: forwards;
} 

.vehicle__hero {
  animation-name: hero;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 3s;
  z-index: -2;
  position: absolute;
  top: 0;
  left:0;
  animation-fill-mode: forwards;
}

@keyframes hero {
  0% {
    top: 0px;
    opacity: 0;
  }

  89% {
    top: -150px;
    opacity: 1;
  }

  100% {
    top: -150px;
    opacity: 0;
  }
}

.clock__wrapper {
  width: max-content;
  margin: 0 auto 70px;
}

.clock__body {
  width: 350px;
  aspect-ratio: 1;
  background-color: gray;
  border-radius: 50%;
  position: relative;
}

.clock__hours {
  position: absolute;
  background-color: wheat;
  width: 130px;
  height: 5px;
  left: 50%;
  top: 50%;
  transform-origin: 10px 50%;
  animation-duration: 10s;
  animation-name: hours;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes hours {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}


.clock__minutes {
  position: absolute;
  width: 130px;
  height: 5px;
  left: 50%;
  top: 50%;
  background-color: wheat;
  transform-origin: 10px center;
  animation-name: minutes;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes minutes {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.clock__wrapper:hover .clock__minutes, .clock__wrapper:hover .clock__hours {
  animation-play-state: paused;
}

.balance__wrapper {
  width: max-content;
  margin: 0 auto;
}

.balance__body {
  height: 300px;
  width: 500px;
  border-left: 3px solid red;
  border-top: 3px solid red;
  border-right: 3px solid red;
  position: relative;
}

.balance__item {
  display: inline-block;
  height: 200px;
  width: 5px;
  background-color: black;
  position: absolute;
  transform: translateX(-50%);
}

.balance__item::after {
  content: '';
  height: 50px;
  aspect-ratio: 1;
  background-color: red;
  position: absolute;
  border-radius:50%;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.balance__item--first { 
  left: 39%;
  animation-name: balance-first;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top center;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
  animation-direction: alternate;
  
}

.balance__item--second{
  left: 50%;
}

.balance__item--third {
  left: 60%; 
  animation-name: balance-second;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: top center;
  animation-direction: reverse;
  transition-timing-function: ease-out;
  animation-direction: alternate;
  
}

@keyframes balance-first{
  0% {
    transform: rotateZ(30deg);
  }

  50%, 100% {
    transform: rotateZ(0deg);
  }
}

@keyframes balance-second {
  0%, 50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
