@import url(reset.css);

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "lato";
  src: url('../fonts/Lato-Black.woff2') format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}



.first-block {
  background: url('../img/bug2.png') 300px 300px/ 150px  no-repeat ,url('../img/sun.png') right 40px/ 250px no-repeat,url('../img/1641271262113378909.jpg') bottom/ cover no-repeat;
  height: 100vh;
  /* width: 100vw; */
}

[class$="block"] {
  margin-bottom: 100px;
}

.item {
  display: inline-block;
  width: 33%;
}

.item button {

  text-transform: capitalize;
  padding: 50px;
  transition: all 0.3s ease;
}

.item button:hover{
  display: none;
}

.object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
  width: 200px;
  border: 3px grey solid;
  box-shadow: -10px 20px 10px rgb(35, 34, 34);
  transition: all ease 0.8s;
}

.object:hover {
  background-color: rgb(164, 54, 54);
  border: 2px orange solid;
  transform: translateY(20px);
  /* background-clip: url('../img/images.jpg'); */

}
.object:hover .background-text{
  background: url('../img/images.jpg') center;
  color: transparent;
  background-clip: text;
}

.four-block {
  width: 100%;
  text-align: center;
}

.four-block span {
  font-size: 50px;
  font-style: italic;
  background: url('../img/water.jpg');
  color: transparent;
  background-clip: text;
}


.first-excrcise {
  background: url('../img/arm-chair.jpg') 0 0 no-repeat ;
  background-size: cover;
  height: max-content;
  width: 100%;
  font-family: 'lato',sans-serif;
  margin-bottom: 50px;
}

.text-container {
  padding-top: 109px;
  margin-left: 60%;
  width: 518px;
}

.first-line, .second-line{
    margin-bottom: 20px;
}

.first-line, .main-phrase, .second-line {
    color: #2f302c;
}

.first-line {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 700;
}

.second-line {
  font-weight: 700;
}

.main-phrase {
  font-family: 'Montserrat',sans-serif;
  font-weight: 800;
  font-size: 96px;
  display: inline-block;
  position: relative;
  margin-bottom: 52px;
}

.main-phrase::after {
  content:'';
  width: 308px;
  height: 1px;
  background-color: black;
  display: block;
  margin-top: 16px;
  margin-left: 16px;
}

.quote {
  color: #7e7f7c;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 115px;
}

.second-exercise{
  display: block;
  margin:0 auto;
  width: max-content;
}

.list {
}

.list-item  {
  margin-bottom: 16px;
  min-height: 32px;
  padding-left: 46px;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
  line-height: 1.2;
}

.bc-green {
  background: url('../img/icons/green-arrow.png');
  background-repeat: no-repeat;
}

.bc-grey {
  background: url('../img/icons/grey-arrow.png');
  background-repeat: no-repeat;
}

.extra-item {
  display: inline-block;
  height: 300px;
  width: 33%;
  margin-bottom: 50px;
}

.extra-item__one {
 background: #1cacd4;
background: linear-gradient(90deg,rgba(28, 172, 212, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.extra-item__two {
background: #e07126;
background: radial-gradient(circle,rgba(224, 113, 38, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.extra-item__third {
  background: #833AB4;
background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.outline-item {
  margin-inline: auto;
  height: 300px;
  width: 33%;
  outline: 1px dashed black;
  outline-offset: 10px;
  transition: all 0.8s ease;
}

.outline-item:hover {
background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
outline: unset;
}