@import url('./reset.css');

[class*="__container"] {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.header__container {
  padding-block: 20px;
}

.nav, .header__extra, .header__search {
  display: inline-block;
}

.header__search {
  margin-left: 60px;
  position: relative;
  padding: 5px;
  border-bottom: 1px grey solid;
}

.search__item:focus {
  outline: none;
}

.header__search::before {
  content: '';
  position: absolute;
  background: url('../img/icons/search.svg');
  height: 17px;
  width: 17px;
  left: -19px;
  transition: all 0.4s ease;
}

.header__search:focus-within::before {
  width: 0;
}

.header__extra {
  margin-left: 170px;
}

.nav__block {
  display: inline-block;
  margin-left: 70px;
}

.nav__item, .extra__item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.nav__item::after, .extra__item::after {
  content:'';
  position: absolute;
  height: 2px;
  width: 0;
  left:0;
  bottom:-4px;
  background-color: currentColor;
  transition: all 0.4s ease;
}

.nav__item:hover::after,.extra__item:hover::after {
  width: 100%;
}

.shop {
  position: relative;
}

.arrow {
  transition: transform 0.4s ease ;
}

.shop:hover .arrow {
  transform: rotateZ(-180deg);
}

.submenu {
  position: absolute;
  top: -300px;
  transition: all ease 0.5s;
  /* visibility: hidden; */
  /* opacity: 0;
  top: 25px; */
}

.shop:hover .submenu{
  /* visibility: visible;
  opacity: 1; */
  top: 25px;
}

.submebu__item:not(:last-child) {
  margin-bottom: 10px;
}

.submebu__item {
  transition: 0.4s color ease;
}

.submebu__item:hover {
  color:dimgrey;
}

.extra__item--love::before {
  content: '';
  background: url('../img/icons/love-icon.svg') no-repeat;
  width: 17px;
  height: 15px;
  left: -20px;
  position: absolute;
  transition: 0.4s ease all;
}

.extra__item--love:hover::before {
  transform: rotateZ(-360deg);
}

.extra__item--cart::before {
  content: '';
  position: absolute;
  right: -20px;
  height: 19px;
  width: 17px;
  background: url('../img/icons/cart-icon.svg') no-repeat;
  transition: 0.4s ease all;
}

.extra__item--cart:hover::before {
  transform: rotateZ(360deg);
}

.gallery__title {
  text-align: center;
  font-size: 27px;
  margin-bottom: 35px;
}

.gallery__block {
  margin-left: 12%;
}


.gallery__block {
  display: inline-block;
  position: relative;
  font-family: 'Playfair',serif;
  margin-bottom: 50px;
}

.gallery__link {
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  display: inline-block;
  transition: all 0.4s ease;
  font-size: 20px;
}

.gallery__link:hover {
  color: bisque;
}

.gallery__text {
  position: absolute;
  left: 50%;
  z-index: 5;
  top:45%;
  transform: translateX(-50%);
  user-select: none;
  font-size: 32px;
  color: #fff;
  white-space: nowrap;
}

.gallery__form {
  text-align: center;
  
}

.gallery__button {
  border: 1px #000 solid;
  padding: 10px 60px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Playfair',serif;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.4s ease;
}

.gallery__button:hover {
  border-radius: 10px;
}

.benefits__block {
  margin: 0 auto;
  width: max-content;
}

.benefits__item {
  position: relative;
  line-height: 1.2;
  margin-bottom: 20px;
}


.benefits__item--green-arrow::before {
  content: '';
  height: 32px;
  aspect-ratio: 1;
  background: url('../img/icons/green-arrow.svg') no-repeat;
  position: absolute;
  top: -7px;
  left: -34px;
}

.benefits__item--grey-arrow::before {
  content: '';
  height: 32px;
  aspect-ratio: 1;
  background: url('../img/icons/grey-arrow.svg') no-repeat;
  position: absolute;
  top: -7px;
  left: -34px;
}

.support__block {
  position: fixed;
  top: 90%;
  left:10%;
  
}

.support__item:hover{
  fill: gold;
}

.support__link{
  position: relative;
}

.support__text {
  position: absolute;
  white-space: nowrap;
  top: 20%;
  color: green;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease;
  left:-20px;
}

.support__block:hover .support__text {
  opacity: 1;
  visibility: visible;
  left: 100%;
}